
<body>
    <header>
        <h1> C a t á l o g o </h1>
    </header>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img id="logoNavbar" src="../../assets/img/Icons/icono-pacman.png"
                    alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

                    <li class="nav-item" >
                        <a class="nav-link active" aria-current="page" routerLink="/inicio"> <img class="icono"
                                src="../../assets/img/Icons/ico-home.png" alt=""> Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " routerLink="/clientes"> <img class="icono"
                                src="../../assets/img/Icons/ico-grupo.png" alt="">Clientes</a>
                    </li>
                    <li class="nav-item" routerLink="/catalogo">
                        <a class="nav-link"> <img class="icono" src="../../assets/img/Icons/ico-catalogo.png"
                                alt="" > Catálogo</a>

                    </li>
                    <li class="nav-item" >
                        <a class="nav-link " tabindex="-1" routerLink="/nosotros"><img class="icono"
                                src="../../assets/img/Icons/ico-manual.png" alt=""> Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " tabindex="-1"> <img class="icono"
                                src="../../assets/img/Icons/ico-exit.png" alt=""> Salir</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav><!-- fin de la barra de navegación -->



    <div id="divisor" class="container">
        <h1 id="titulo"> Lista de Consolas</h1>
        <div class="container" id="contenedorTabla">
            <table class="table table-dark table-striped table-hover" style="color: white;">
                <thead>
                    <tr>
                        <th scope="col d-none">N Producto</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>

                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of producto;">
                        <th>{{item.idProducto}}</th>
                        <td> {{item.nombre}}</td>

                        <td>{{item.precio}}</td>
                        <td> 
                            <button id="btn2" class="btn"> Eliminar</button>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
        <!-- <div class="container" style="padding: 10px; background-color: rgb(141, 141, 141);
        border-radius: 10px; box-shadow: 5px 5px 15px rgb(54, 54, 54);">
        <h3 style="text-align: center; color: white;"> Opciones</h3>
            <button routerLink="/editar" style="width: 20%; font-size: 15px; margin-right: 6%;" class="btn btn-warning" > Modificar Producto
            </button>
        </div> -->


        <div  class="container" style="padding-bottom: 15px; background-color: rgb(141, 141, 141);
        border-radius: 10px; box-shadow: 5px 5px 15px rgb(54, 54, 54); margin-top: 50px;">
            <h1 id="titulo"> Actualizar Producto </h1>

            <form [formGroup]="formGroup">
                <div class="row">
                    <div class="col">
                        <input id="Numero" type="number" class="form-control" placeholder="Numero Producto" aria-label="Numero"
                        formControlName="Numero">
                    </div>
                    <div class="col">
                        <input id="nombreProd" type="text" class="form-control" placeholder="Nombre Producto" aria-label="Nombre Producto" 
                        formControlName="nombreP">
                    </div>
                    <div class="col">
                        <input id="precio" type="number" class="form-control" placeholder="Precio" aria-label="precio"
                        formControlName="precio">
                    </div>
                </div>
                <br>


                <button type="submit" style=" text-align: left; font-size: 20px;" class="btn btn-success" (click)="ModificarP()">
                    <img src="" alt="" >
                    Modificar producto
                </button>
                <button id="btn2" type="submit" style="width: 20%; text-align: left; font-size: 20px; margin-left: 3%;" class="btn btn-danger " onclick="limpiar()" >
                    <img style="margin-right: 20% ;" src="" alt="">
                    cancelar
                </button>
            </form>
        </div>
    </div>





</body>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p id="textoFooter">Copyright D'Andrea Omar © 2021. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>