/* body */
body {
    background: rgb(37, 36, 36);
    min-height: 100vh;
    background: rgb(2, 0, 36);
  
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 19, 121, 1) 20%,
      rgba(0, 212, 255, 1) 100%
    );
  }
  /* header {
    text-align: center;
    color: white;
    padding: 5px;
    padding-top: 8px;
    font-family: serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 100%,
      rgba(9, 19, 121, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
  } */
  .navbar {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 30%,
      rgba(9, 19, 121, 1) 99%,
      rgba(0, 212, 255, 1) 100%
    );
  }
  
  #logoNavbar {
    height: auto;
    width: 40px;
  }
  
  .icono {
    height: 40px;
    width: 40px;
    margin-right: 5%;
    margin-left: 10%;
  }
  
  .footer {
    padding-top: 10px;
    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      0deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 19, 121, 1) 20%,
      rgba(0, 212, 255, 1) 100%
    );
  }
  
  #textoFooter {
    margin-bottom: 3%;
    margin-top: 2%;
    font-size: 20px;
  }
  
  
  
  table {
    text-align: center;
  }
  
  #titulo {
    text-align: center;
    color: rgb(32, 31, 31);
    padding-bottom: 10px;
  }
  
  #divisor {
    margin-top: 3%;
    padding: 20px;
    background-color: rgba(226, 221, 211, 0.849);
    border-radius: 10px;
  }
  