/* body */
body {
  background: rgb(37, 36, 36);
  min-height: 100vh;
  background: rgb(2, 0, 36);

  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 19, 121, 1) 20%,
    rgba(0, 212, 255, 1) 100%
  );
}
/* header {
  text-align: center;
  color: white;
  padding: 5px;
  padding-top: 8px;
  font-family: serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 100%,
    rgba(9, 19, 121, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
} */
.navbar {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 30%,
    rgba(9, 19, 121, 1) 99%,
    rgba(0, 212, 255, 1) 100%
  );
}

#logoNavbar {
  height: auto;
  width: 40px;
}

.icono {
  height: 40px;
  width: 40px;
  margin-right: 5%;
  margin-left: 10%;
}

.footer {
  padding-top: 10px;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 19, 121, 1) 20%,
    rgba(0, 212, 255, 1) 100%
  );
}

#textoFooter {
  margin-bottom: 3%;
  margin-top: 2%;
  font-size: 20px;
}

#contenedorTabla{
  padding-top: 1%;
}
.btn{
  font-size: 12px;
  
}
#btn1{
  background-color: rgb(192, 119, 11);
  color: white;
}
#btn2{
  margin-left: 3%;
  background-color: rgb(177, 6, 6);
  color: white;
}

table{
  text-align: center;
}

h1{
  text-align: center;
  color: white;
}