/* body */
body{
    background: rgb(37, 36, 36); 
    min-height: 100vh;
}


#logoNavbar{
    height: auto;
    width: 40px;
}

.icono{
    height: 40px;
    width: 40px;
    margin-right: 5%;
    margin-left: 10%;
    
    
}
#logo{
    padding: 2%;
    box-shadow:15px 15px 25px 10px rgb(104, 104, 104);
    border-radius: 10px 10px;
    max-width: 100%;
    height: auto;
    width: 430px;

}

.container-logo{
    text-align: center;
    padding: 2%;
   
}

.registro{
  margin-top: 2%;
  padding-bottom: 2%;
  width: 50%;
  border-radius: 10px;
}

/* .imgMuestra{
    height: 200px;
    width: 300px;
} */

.footer{
    padding-top: 10px;
}
