<body>
    <header>
        <h1> I n i c i o </h1>    
     </header>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img id="logoNavbar" src="../../assets/img/Icons/icono-pacman.png"
                    alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="page" href="#"> <img class="icono"
                                src="../../assets/img/Icons/ico-home.png" alt="" aria-disabled="true"> Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" [routerLink]="['/clientes']"> <img class="icono"
                                src="../../assets/img/Icons/ico-grupo.png" alt=""
                                [routerLink]="['/clientes']">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" [routerLink]="['/catalogo']"> <img class="icono" src="../../assets/img/Icons/ico-catalogo.png"
                                alt="" [routerLink]="['/catalogo']"> Catálogo</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " href="#" tabindex="-1" [routerLink]="['/nosotros']"><img class="icono"
                                src="../../assets/img/Icons/ico-manual.png" alt="" [routerLink]="['/nosotros']"> Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " href="#" tabindex="-1" [routerLink]="['/crear-cliente']"> <img class="icono"
                                src="../../assets/img/Icons/ico-exit.png" alt="" > Salir</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav><!-- fin de la barra de navegación -->
   


    <div class="container">
        <div class="abs-center">
            <img id="logo" src="../../assets/img/img-logo2.png" alt="">
        </div>
    </div>
    <!-- <div class="container registro" style="background-color: white;">
        <div> Registrarse</div>
        <form class="row">
            <form class="row">
                <div class=" col">
                    <label for="inputPassword4" class="form-label">Nombre</label>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
            </form>
            <form class="row">
                <div class="col ">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
            </form>
            <form class="row">
                <div class=" col ">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
            </form>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                </div>
            </div>
            <form class="row">
                <div class="col">
                    <button type="submit" style="width: 100%;" class="btn btn-primary">Registrarme</button>
                </div>
                <p>Ya Posees una cuenta? <a href="">LOGIN</a></p>
            </form>

        </form>

    </div> -->


    <!-- Carrusel de imagenes -->
    <!-- <div class="container contenedorCarrusel">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://media.giphy.com/media/bGz7gzKwizjcF7C2vu/giphy.gif"
                        class="d-block w-100 imgMuestra" alt="PlayStation">
                </div>
                <div class="carousel-item">
                    <img src="https://media.giphy.com/media/1wXeQcrog4CBRLx381/giphy.gif"
                        class="d-block w-100 imgMuestra" alt="Nintendo">
                </div>
                <div class="carousel-item">
                    <img src="https://media.giphy.com/media/ge7lA3TfEoCIYIxmfj/giphy.gif"
                        class="d-block w-100 imgMuestra" alt="XBOX">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div> -->


</body>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p id="textoFooter">Copyright D'Andrea Omar © 2021. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>